@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";
/*general----------------------------------------------*/
html, body, .global{
    min-width: 600px;
    width: 1fr;
    height: 100vh;
    background: black;
    color: white;
}
.button:hover{
    color: #DC3545;
    cursor: pointer;
}
.button:active{
    color: #121212;

}
::selection {
    background-color: #DC3545;
}
.click:hover{
    cursor: pointer;
}
.click:active{
    color: black;
}
/*scrollbar----------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #DC3545;
    border-radius: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 50px;

}
/*lien----------------------------------------------*/
body a{
    text-decoration: none;
    color: white;
    outline: none;
}
/*navbar----------------------------------------------*/
.menu {
    width: 20%;
    margin: 20px 10px 20px 20px;
    padding: 5px;
    border-radius: 15px;
    position: sticky;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    }
.menu .logo{
    color : #DC3545;
    font-weight: bolder;
    font-size: 26px;
    -webkit-user-select: none;
}
html .menu .logo-image{
    width: 30%;
}
.menu .links{
    color: white;
    font-weight: bolder;
    margin:  10px 0  0 10% ;
    -webkit-user-select: none;
}
.menu .links .general{
    font-size: 140%;
}
.menu .links .general-link:hover{
    color: #6c757d;
    cursor: pointer;
}
.menu .links .general-link:active{
    color: black;
}
.menu .links .general .general-link-text{
    margin : -2.5% 0 20px 15px;
}

.playlist{
    padding-left: 25%;
    margin-right: 5%;
    -webkit-user-select: none;
    overflow: auto;
    overflow-x : hidden;
    flex-grow: 1;
    color: #6c757d;

}
.playlist-flow .playlist .playlist-link{
    font-size: 100%;
    margin-left: 50px;
    color: #6c757d;
}
.playlist  .playlist-link:hover{
    color: white;
    cursor: pointer;
}
 .playlist  .playlist-link:active{
    color: black;
}
.menu .current-music{
    margin-top: 5px;
}
.menu .current-music .current-music-center{
    width: 70%;
    /*background: blue;*/
}
.menu .current-music .current-music-image{
    border-radius: 15px;
    width: 80%;
}
.menu .current-music .current-music-infos{
    margin-top: 10px;
}
/*partie droite ----------------------------------------------*/

.right{

    width: 75%;
    margin: 20px 20px 0 10px;
}
/*navbar TOP ----------------------------------------------*/
.menu-top{
    background-color: #121212;
    height: 7%;
    margin-bottom: 10px;
    padding: 2px 40px;
    border-radius: 15px;
    font-weight: bolder;
    align-items: center;
    -webkit-user-select: none;

}
.menu-top .nom-page:hover{
    color: #6c757d;
    cursor: pointer;
}.menu-top .nom-page:active{
     color: black;
 }
.menu-top .profil{
    color: #6c757d;
}
.menu-top .profil:hover{
    color: white;
    cursor: pointer;
}
.menu-top .profil:active{
    color: black;
}
.bar{
    height: 35px;
    width: 100%;
    background-color: black;
    border: none;
    font-family: Arial, 'FontAwesome';
    font-size: 15px;
    color: white;
    border-radius: 15px;
    padding: 5px 10px;

}
.bar:focus{
    color: black;
    background-color: white;
    border: none;
    outline: none;
    height: 35px;

}
/*contenu ----------------------------------------------*/
.content{
    background-color: #121212;
    height: 100%;
    border-radius: 15px 15px 0 0 ;
    padding:  2% 3% 0 3%;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}
.list-infos{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.list-infos .infos:hover{
    background-color: white;
    color: black;
}
.list-infos  .infos{
    background-color: black;
    border-radius: 100px;
    padding-right: 20px;
    margin-bottom: 5px;
    height: 50px;
    cursor: pointer;

}
.list-infos  .infos .infos-left-part{
    margin-right: 20px;
}
.list-infos .overflow{
    overflow: hidden;
    height: 25px;
    align-content: center;
}
.list-infos  .infos .infos-left-play{
     font-size: 30px;
 }
.list-infos  .infos .infos-left-part .music-image{
    border-radius: 100px;
    height: 50px;
    vertical-align: middle;
}
.list-infos  .infos .infos-right .button-track{
    font-size: 20px;
}
.list-infos .infos .infos-right .infos-right-part{
    margin-left: 10px;
}
.list-infos  .infos .infos-right .infos-right-date{
    color: #6c757d;
}

.card-playlist{
    border-radius: 15px;
    width: 160px;
    height: 180px;
    padding: 10px;
    background-color: black;
    margin-left: 10px;
}
.card-playlist:hover{
    color: #6c757d;
    cursor: pointer;

}
.card-playlist .card-playlist-image{
    border-radius: 15px;
    height: 140px;
}
.card-playlist .card-playlist-text{
    margin-top: 5px;
    height: 70px;
    padding: 0 7px;
    font-size: 12px;
    overflow: hidden;
    font-weight: bolder;
}
.scroller-card-playlist{
    overflow-x: scroll;
    width: 100%;
    height: 200px;
    color: white;
    font-weight: normal;
}
.scroller-card-playlist::-webkit-scrollbar {
    display: none;
}

/*responsive ----------------------------------------------*/
.sound{
    /*background-color: orange;*/
    height: 15%;
    margin-top: 10px;
    padding: 10px;
    -webkit-user-select: none;
}
.sound .edit{
    /*background-color: yellow;*/
    width: 75%;
    height: 100%;
}
.sound .edit .play{
    /*background-color: green;*/
    height: 50%;
    margin: 0 30%;
}
.sound .edit .play .play-icon-first{
    font-size : 4rem;
}

.sound .edit .play .play-icon-second{
    font-size : 3rem;
}

.sound .edit .play .play-icon-third{
    font-size : 2rem;
    color: white;
}
.sound .edit .play .play-icon-third-click{
    font-size : 2rem;
    color: #DC3545;
}

.sound .edit .progres{
    /*background-color: green;*/
    height: 50%;
    width: 70%;

}
.sound .edit .progres .progres-bar{
    width: 85%;
    height: 7px;
    background-color: #ccc;
    cursor: pointer;
    border-radius: 15px;
}
.sound .edit .progres .progres-bar:hover{
    background-color: white;
}
.sound .edit .progres-bar .slider-progres{
    height: 100%;
    background-color: #DC3545;
    width: 0;
    border-radius: 15px;
}
.sound .edit .time-display{
    color: #6c757d;
    font-size: 13px;
}

.sound .volume{
    /*background-color: blue;*/
    width: 36%;
    padding-left: 10px;
    padding-top: 0.5%;
}
.sound .volume .volume-edit{
    height: 25%;
    /*background-color: cyan;*/
    width: 80%;
}
.sound .volume-edit .volume-logo{
    width: 20%;
    padding-top: 5px;
}
.sound .volume-edit .slider_volume{
    width: 80%;
    height : 5px;
}

/*volume bar ----------------------------------------------*/
.slidecontainer {
    width: 100%;
}
.slider {
    appearance: none;
    height: 10px;
    background: white;
    border-radius: 15px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #DC3545;
    cursor: pointer;
    border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    box-shadow: -407px 0 0 400px #DC3545;
}
input{
    overflow: hidden;
}
/*responsive ----------------------------------------------*/
@media only screen and (max-width: 1200px) {
    html .logo-text{
        display: none;
    }
    html .logo-image{
        width: 75%;
    }

}
@media only screen and (max-width: 960px) {

    .menu{
        width: 30%;
                /*background-color: #DC3545;*/
    }
    .right{
        width: 70%;
        /*background-color: #6c757d;*/
    }
    .hide{
        display: none;
    }
    .volume{
        width: 30%;
    }
}