/*general----------------------------------------------*/
html, body, .global{
    height: 100%;
    width: 100%;
    background: black;
    color: white;
}
.button:hover{
    color: #DC3545;
    cursor: pointer;
}
.button:active{
    color: #121212;
}
::selection {
    background-color: #DC3545;
}
/*scrollbar----------------------------------------------*/
::-webkit-scrollbar {
    width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #DC3545;
    border-radius: 50px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* Track */
::-webkit-scrollbar-track {
    background: black;
    border-radius: 50px;

}
/*lien----------------------------------------------*/
body a{
    text-decoration: none;
    color: white;
    outline: none;
}
/*navbar----------------------------------------------*/
.menu {
    width: 25%;
    margin: 20px 10px 20px 20px;
    padding: 5px;
    border-radius: 15px;
    position: sticky;
    background-color: #121212;
    }
.menu .logo{
    color : #DC3545;
    font-weight: bolder;
    font-size: 26px;
    -webkit-user-select: none;
}
html .menu .logo-image{
    width: 50%;
}
.menu .links{
    color: white;
    font-weight: bolder;
    margin:  10px 0  0 10% ;
    -webkit-user-select: none;
}
.menu .links .general{
    font-size: 140%;
}
.menu .links .general-link:hover{
    color: #6c757d;
}
.menu .links .general .general-link-text{
    margin : -2.5% 0 20px 15px;
}
.playlist-flow{
    margin:  0 10%;
    -webkit-user-select: none;

}
.playlist-flow .playlist{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 8rem;

}
.playlist-flow .playlist .playlist-link{
    font-size: 100%;
    margin-left: 50px;
    color: #6c757d;
}
.playlist-flow .playlist  .playlist-link:hover{
    color: white;
}
.menu .current-music {
    height: 10%;
}
.menu .current-music .current-music-center{
    width: 70%;
    /*background: blue;*/
}
.menu .current-music .current-music-image{
    border-radius: 15px;
    width: 80%;
}
.menu .current-music .current-music-infos{
    margin-top: 10px;
}
/*partie droite ----------------------------------------------*/

.right{
    /*height: 97%;*/
    width: 100%;
    margin: 20px 20px 0 10px;
}
/*navbar TOP ----------------------------------------------*/
.menu-top{
    background-color: #121212;
    height: 7%;
    margin-bottom: 10px;
    padding: 2px 40px;
    border-radius: 15px;
    font-weight: bolder;
    align-items: center;
    -webkit-user-select: none;

}
.menu-top .nom-page:hover{
    color: #6c757d;
}
.menu-top .profil{
    color: #6c757d;
}
.menu-top .profil:hover{
    color: white;
}
/*contenu ----------------------------------------------*/
.contenu{
    background-color: #121212;
    height: 78%;
    border-radius: 15px 15px 0 0 ;

    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.list-infos{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.list-infos .infos:hover{
    background-color: white;
    color: black;
}
.list-infos  .infos{
    background-color: black;
    border-radius: 100px;
    padding-right: 2%;
    margin-bottom: 5px;
    height: 50px;
    cursor: pointer;

}
.list-infos  .infos .infos-left-part{
    margin-right: 20px;
}
.list-infos .overflow{
    overflow: hidden;
    height: 50px;
}
.list-infos  .infos .infos-left-play{
     font-size: 30px;
 }
.list-infos  .infos .infos-left-part .music-image{
    border-radius: 100px;
    height: 50px;
}
.list-infos  .infos .infos-right .button-track{
    font-size: 20px;
}
.list-infos .infos .infos-right .infos-right-part{
    margin-left: 10px;
}
.list-infos  .infos .infos-right .infos-right-date{
    color: #6c757d;
}
/*responsive ----------------------------------------------*/
.sound{
    /*background-color: orange;*/
    height: 15%;
    margin-top: 10px;
    padding: 10px;
    -webkit-user-select: none;
}
.sound .edit{
    /*background-color: yellow;*/
    width: 75%;
    height: 100%;
}
.sound .edit .play{
    /*background-color: green;*/
    height: 50%;
    margin: 0 30%;
}
.sound .edit .play .play-icon-first{
    font-size : 4rem;
}

.sound .edit .play .play-icon-second{
    font-size : 3rem;
}

.sound .edit .play .play-icon-third{
    font-size : 2rem;
    color: white;
}
.sound .edit .play .play-icon-third-click{
    font-size : 2rem;
    color: #DC3545;
}

.sound .edit .progres{
    /*background-color: green;*/
    height: 50%;
    width: 80%;

}
.sound .edit .slider-progres{
    height: 5px;
}
.sound .edit .progres .test{
    width: 80%;
}
.sound .volume{
    /*background-color: blue;*/
    width: 25%;
    padding-left: 10px;
}
.sound .volume .volume-edit{
    height: 25%;
    /*background-color: cyan;*/
}
.sound .volume-edit .volume-logo{
    width: 20%;
}
.sound .volume-edit .slider_volume{
    width: 80%;
    height : 6px;
}

/*volume bar ----------------------------------------------*/
.slidecontainer {
    width: 100%;
}
.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    background: white;
    border-radius: 15px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #DC3545;
    cursor: pointer;
    border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 15px;
    box-shadow: -407px 0 0 400px #DC3545;
}
input{
    overflow: hidden;
}
/*responsive ----------------------------------------------*/
@media only screen and (max-width: 1200px) {
    html .logo-text{
        display: none;
    }
    html .logo-image{
        width: 75%;
    }

}
@media only screen and (max-width: 960px) {
    .menu{
        width: 30%;
        /*background-color: #DC3545;*/
    }
    .volume{
        width: 30%;
    }
}